<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gemini Chat</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css"
    />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <main>
      <h1>ChatBot</h1>
      <div class="chat-container">
        <div class="chat-box"></div>
      </div>
      <form>
        <div class="input-container">
          <input
            name="prompt"
            placeholder="Ketik sesuatu..."
            type="text"
            autocomplete="off"
          />
          <button type="submit">Kirim</button>
        </div>
      </form>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script type="module" src="../static/main.js"></script>
  </body>
</html>
